html {
  background-color: #d8f0f5;
}

h1 {
  margin: auto;
  font-size: 30px;
  color: #002e6e;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 20px;
  color: #002e6e;
}
p {
  text-align: center;
  font-size: 20px;
  color: #002e6e;
}
a: hover {
  font-style: bold;
}
a: visited {
  color: #0081eb;
}
ul {
  text-align: left;
}