html {
  background-color: #d8f0f5;
}
h1 {
  text-align: center;
  color: #002e6e;
}
h3 {
  text-align:center;
  color:#002e6e;
}
div {
  height: 50px;
  width: 140px;
  border: 2px solid black;
  border-radius: 10px;
  border-color: white;
  background-color: #64a0e8;
  display: inline-block;
  margin: 10px 5px 10px 5px;
  padding: 10px 25px 15px 25px;
}
.left {
  height: 250px;
  width: 450px;
  background-color: #64a0e8;
  float: left;
  margin-bottom: 10px;
}
img {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin-bottom; 10px;
  border-radius: 20px;
  border-color: maroon;
}
p {
  font-size: 18px;
  color:#002e6e;
}
a img {
  height:143px;
  width:143px;
  display: inline-block;
  margin-left:10px;
  margin-right: 10px;
  margin-top: none;
  padding: none;
}
. footer {
  clear: all;
  float: center;
  background-color: #d8f0f5;
  text-align: center;
  width: 1000px;
  height: 10px;
}