<!DOCTYPE html>
<html>
<head>
  <title> Contact me </title>
  <link type="text/css" rel="stylesheet" href="cordeliapeters.new.stylesheet.css"/>
</head>

<body>

  <div id="name">
    <h1> Cordelia Peters </h1>
  </div>

  <div id= "menu">
    <a href="my_blog.html"> <p> My Blog </p> </a>
    <a href="projects.html"> <p> Projects </p></a>
    <a href="contact-me.html"> <p> Contact Me </p> </a>
  </div>

  <div id="links">
    <a href="cordelia.peters@gmail.com"> <img src="imgs/gmail.png" height=100px class= "icons"> </a>
    <a href="https://www.facebook.com/cordelia.peters"> <img src="imgs/facebook.png" height=100px class= "icons"> </a>
    <a href="http://www.linkedin.com/pub/cordelia-peters/a5/462/669"> <img src="imgs/Linkedin.png" height=100px class= "icons"> </a>
    <a href="https://twitter.com/crrpeters"> <img src="imgs/twitter.png" height=100px class= "icons"> </a>
    <a href="http://instagram.com/cordeliapeters"><img src="imgs/instagram.png" height=100px class= "icons"> </a>
  </div>

  <div id="footer">
    <a href="cordeliapeters.github.io.html"> <strong> Home </strong> </a>
    <p> Thanks for visiting my site! Please contact me at cordelia.peters@gmail.com with any questions </p>
  </div>

</body>
</html>